




<!DOCTYPE HTML>

<html>
	<head>
		<title>BLOCKCHAIN EHR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">BLOCKCHAIN EHR</a></h1>
				<!--<a href="#nav">Menu</a>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/learnmore">About us</a></li>
					<li><a href="">Helpline</a></li>
				</ul>-->
			</header>

		 
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/learnmore">About us</a></li>
					<li><a href="">Helpline</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<div id="trial" style="background-image: url('/static/img/banner.jpg');">
			<section id="banner" >
				<i class="icon fa-diamond"></i>
				<h2>BLOCKCHAIN EHR</h2>
				<p>WELCOME!</p>
				<ul class="actions">
					&nbsp;<li><a href="/domain" class="button big special">Sign In</a></li> &nbsp; &nbsp;
					<li><a href="/signup" class="button big special">Sign Up</a></li> &nbsp; &nbsp; 
					 
				</ul>
			</section>
		</div>
            <!-- Three BUTTONS -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>BLOCKCHAIN??</h2>
						<p>Health care professionals are required to maintain accurate health records of patients. Furthermore, these records should be shared across different health care organizations for professionals to have a complete review of medical history and avoid missing important information. Nowadays, health care providers use electronic health records (EHRs) as a key to the implementation of these goals and delivery of quality care. However, there are technical and legal hurdles that prevent the adoption of these systems, such as concerns about performance and privacy issues.<p>
					</header>
					<!--<ul class="actions">
						<li><a href="/domain" class="button big alt">SIGN IN</a></li>
						<li><a href="/signup" class="button big alt">SIGN UP</a></li>
											</ul>-->    
				</div>
			</section>

           
		<!-- Four OUTREACH -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>reach us out by filling up</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<!--<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul> -->
					<ul class="copyright">
						<li>&copy; EHRCHAIN.</li>
						<li><a href="">Presented by EHR</a>.</li>
						<!--<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>